.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > div {
  width: 90%;
  height: 500px;
}

.App > div > svg {
  width: 100%;
  height: 500px;
}

.App > div > svg text {
  font-size: 2em;
  text-anchor: middle;
}

.App > div > svg rect {
  fill: #e5ddbc;
}
